*{
    font-family: Consolas;
    font-size: 30px;
    color: #ABABAB;
}
h2{
    position: relative;
    top: 50px;
    margin-bottom: 60px;
    font-size: 60px;
}
.login_box{
    border-style: solid;
    border-color: #383638;
    position: absolute;
    top: 15%;
    left: 30%;
    height: 550px;
    width: 600px;
    margin-left: 10px;
    box-shadow: 10px 10px 20px #1a191a,0 10px 20px #1a191a,-10px 0 10px #5b575b,0 -10px 10px #5b575b;
}
.login_box:hover{
    box-shadow: 0 0 50px #00FF00;
}
.input{
    border-style: solid;
    border-radius: 20px;
    border-color: #383638;
    background-color: #272527;
    font-size: 20px;
    color: #00ff00;
    font-family: "Open Sans";
    text-align: center;
}
.input:hover{
    border-color: #00ff00;
}
.button{
    border-style: solid;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-color: #383638;
    background-color: #383638;
    box-shadow: 10px 5px 20px #1a191a,0 5px 20px #1a191a,-10px 0 5px #5b575b,0 -10px 5px #5b575b;
    cursor: pointer;
    position: relative;
    top: 80px;
}
.button:hover{

}
.side_bar_option_flex_login{
    flex-direction: column;
    align-items:center;
    margin: 10px;
}