*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;/*font-family: 'Nanum Gothic', sans-serif;font-family: 'Josefin Sans', sans-serif;*/
	display: flex;
	outline: none;
	text-decoration: none;
}
.menuoption{
	text-decoration: none;
	 position: relative;
	 left: 300px;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 20px;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}
.menuoption:nth-child(1)
{
    filter: hue-rotate(290deg);
}
.menuoption:nth-child(3)
{
    filter: hue-rotate(110deg);
}
.menuoption:hover
{
    background: #03e9f4;
    color:  #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}
.menuoption span
{
    position: absolute;
    display: block;
}
.menuoption span:nth-child(1)
{
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%, 100%
    {
        left: 100%;
    }
}
.menuoption span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%, 100%
    {
        top: 100%;
    }
}
.menuoption span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%, 100%
    {
        right: 100%;
    }
}
.menuoption span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%, 100%
    {
        bottom: 100%;
    }
}
ps{
	background-color: #9e80f7;
	font-family: time new roman;
	font-weight: 300;
	color: white;
}
body{
	background-image: url("../Media/minimalist_black_pattern_i-wallpaper-1920x1080.jpg");
    background-attachment: fixed;
}
.side_bar_option_text{
	color: white;
	font-size: 25px;
	margin-top: 5px;
	margin-left: 10px;
}
#menu_background{
	background-color: white;
	margin: 0;
	border-style: solid;
	border-color: white;
	width: 100%;
	height: 150px;
	opacity: 0.5;
	position: fixed;
	left: 0;
}
.web_logo{
	position: fixed;
	left: 20px;
	transition: 0.7s;
	margin:0;
	top: 10px;
    left: 10px;

}
.web_logo:hover{
   cursor: pointer;
   box-shadow: 0 0 10px #00FF00,0 0 40px #00FF00,0 0 80px #00FF00;
}
.header{
	font-size: 50px;
	border-style: solid;
	cursor: pointer;
	border-style: hidden;
	position: relative;
	left: 100px;
}
.menuoption{
   height: 20px;
}
.side_bar{
	margin: 0;
	text-decoration: none;
	border-style: solid;
	height: 500px;
	width: 200px;
	border-color: #272527;
	background-image: url('../Media/minimalist_black_pattern_i-wallpaper-1920x1080.jpg');
	position: fixed;
	left: -20px;
	top: 200px;
	transition: 0.5s;
	box-shadow: 10px 0 20px black;
	z-index: 3;
}
.side_bar:hover{
    width: 300px;
    border-radius: 20px;
}
.side_bar_option{
	border-style: hidden;
	border-color: black;
	border-radius: 10px;
	padding-left: 40px;
	padding-right: 40px;  
    margin-top: 40px;
    margin-left: 0;
    height: 75px;
    width: 140px;
    text-decoration: none;
    transition: 0.5s;
}
.side_bar_option:hover{
	margin-left: 0;
	background-color: #1b181b;
    width: 180px;
    box-shadow: 0 0 10px #00FF00,0 0 20px #00FF00;
}
.side_bar_option_flex{
	flex-direction: column;
	align-items: center;
}
.block{
	position: absolute;
	top: 200px;
	left: 250px;
	border-style: solid;
	border-color: black;
	height: 9000px;
	width: 1200px;
	z-index: 2;
}