*{
    font-size: 20px;
    color: #66ffcc;
}
h2{
    position: relative;
    top: 20px;
    margin-bottom: 60px;
    font-size: 40px;
}
.sign_box{
    border-style: hidden;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 40%;
    height: 600px;
    width: 350px;
    margin-left: 10px;
    /*box-shadow: 10px 10px 20px #bfbfbf,0 10px 20px #bfbfbf,-10px 0 10px #ffffff,0 -10px 10px #ffffff;
*/
box-shadow: 10px 10px 20px #1a191a,0 10px 20px #1a191a,-10px 0 10px #5b575b,0 -10px 10px #5b575b;
}
.sign_box:hover{
    box-shadow: 0 0 50px #00ff00;
}
.input{
    border-style: solid;
    border-color: #383638; 
    border-radius: 20px; 
    background-color: #383638;
    font-size: 20px;
    color: #66ffcc;
    font-family: 'Poppins', sans-serif;
    outline: none;
    box-shadow: inset 10px 0 10px #1a191a,inset 0 10px 10px #1a191a,inset -10px 0 10px #5b575b,inset 0 10px 10px #5b575b;
    height: 40px;
    width: 250px;
}.input:hover{
    border-color: #00ff00;

}
.input_gender{

}

.button{
    border-style: hidden;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border-color: #3385ff;
    background-color: #383638;
    box-shadow: 5px 5px 5px #1a191a,0 2px 5px #1a191a,-5px 0 5px #5b575b,0 -5px 5px #5b575b;
    cursor: pointer;
    position: relative;
    top: -20px;
}
.button:active{
    box-shadow: inset 5px 5px 5px #1a191a,inset 0 2px 5px #1a191a,inset -5px 0 5px #5b575b,inset 0 -5px 5px #5b575b;
    outline: none;
}
.button:hover{

}
.side_bar_option_flex_sign{
    flex-direction: column;
    align-items:center;
    margin: 10px;
}
.invalid_massage{
    color: red;
}