<html lang="en">
<head>
   <link rel="stylesheet" type=" {{ CSS_URL }}text/css" href="/css/login.css">
    <link rel="stylesheet" type="{{ CSS_URL }}text/css" href="/css/main.css">
    <a href="/icons/icons8_dollar_bitcoin_exchange.ico"></a>
    <img src="/icons/web_logo2.JPG" class="web_logo">
</head>
<body>
<ul class="side_bar side_bar_option_flex">
    <li class="side_bar_option" id="buy_coin" onclick="alert('hi')">
        <img src="{{ ICONS_URL }}/icons/bitcoin_75px.png" class="icons">
        <t id="side_bar_option_text">Buy coins</t>
    </li>
    <li class="side_bar_option" id="live_price">
        <img src="{{ ICONS_URL }}/icons/candlestick_chart_75px.png" class="icons" >
    </li>
    <li class="side_bar_option" id="tutorial">
        <img src="{{ ICONS_URL }}/icons/training_75px.png" class="icons">
    </li>
    <li class="side_bar_option" id="Account">
        <img src="{{ ICONS_URL }}/icons/account_75px.png" class="icons">
    </li>
</ul>
<form>
    {% csrf_token %}
    <div class="login_box side_bar_option_flex_login">
        <div><h2>Log in</h2></div>
        <div style="margin: 20px">
            <t style="position: relative;top:20px;left:-20px;">Email:</t>
            <input type="Email" name="email" class="input" style="position: relative;top: 20px;left:0;height: 40px;width: 250px">
        </div>
        <div style="margin: 20px">
            <t style="position: relative;top: 20px;left:-20px;">Password:</t>
            <input type="Password" name="Password" class="input" style="position: relative;top: 20px;left:-25px;height: 40px;width: 250px">
        </div>
        <div>
            <button class="button">
                <t style="position: relative;left: 50px;font-size: 30px;color:#ABABAB">SUBMIT</t>
            </button>
        </div>
    </div>
</form>
</body>
</html>