<html>
<head>
   <link rel="stylesheet" type="text/css" href="css/login2.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Nanum+Gothic|Poppins&display=swap" rel="stylesheet">
    <img src="icon\web_logo2.jpg" class="web_logo">
</head>
<body>
<form>
    <div class="login_box side_bar_option_flex_login" id="login_box">
        <div><h2>LOGIN</h2></div>
            <div style="margin: 20px">
                <t style="position: relative;top:-50px;left:10px;font-size: 20px;">Email</t>
                <input type="Email" name="email" class="input" style="position: relative;top: -20px;left:-20px;">
            </div>
                <div>
                    <t style="position: relative;left:-30px;top:-40px;font-size: 20px;margin-bottom:-5px;" id="invalid_email">  
                    </t>
                </div>
            <div style="margin: 20px">
                <t style="position: relative;top: -50px;left:160px;height: 40px;width: 350px;font-size: 20px;">Password
                </t>
                <input type="Password" name="Password" class="input" style="position: relative;top: -20px;left:-170px;">
            </div>
                 <div>
                    <t style="position: relative;top:-40px;left:-10px;font-size: 20px;margin-bottom:-25px;" id="invalid_password"></t>
                </div>
            <div style="margin: 20px">
                <t style="position: relative;top: -20px;left:130px;height: 40px;width: 350px;font-size:20px; ">Remember me</t>
                <input type="checkbox" name="check" class="input_checkbox">
            </div>
            <div>
                 <button class="button">
                    <t style="position: relative;top:-2px;left:50px;font-size: 30px;color:#66ffcc">Log in</t>
                </button>
            </div>
            <div>
                <t  style="position: relative;top: 20px;left:200px;height: 40px;width: 350px;font-size: 15px;">Not Register? Register Now</t>
                <a href="sign_up2.html" style="position: relative;top: 15px;margin:2px;left:50px;height: 40px;width: 350px;font-size: 20px;color: red;">Click here</a>
            </div>
            <div>
                <t  style="position: relative;top: 20px;left:250px;height: 40px;width: 350px;font-size: 15px;">Forgot Password</t>
                <a href="" style="position: relative;top: 15px;margin:2px;left:30px;height: 40px;width: 350px;font-size: 20px;color: red;">Click here</a>
            </div>
        </div>
</form>
<d onclick="Invalid_email();" style="position: relative;top: 300px;">Invalid email</d>
<d onclick="Invalid_password();" style="position: relative;top: 400px;">invalid password</d>
<script type="text/javascript" src="javascript/script.js">
    </script>
</body>
</html>