<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coin Predict LOGIN</title>
    <link rel="stylesheet" href="/css/loginTest.css">
</head>
<body>
<form method="post">
    {% csrf_token %}
    <div class="form">
    <h2>Login</h2>
    <div class="input">
        <div class="inputBox">
            <label>Username
                <input type="text" name="test_email" placeholder="example@xyz.com">
            </label>
        </div>
        <div class="inputBox">
            <label>Password
                <input type="password" name="test_password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
            </label>
        </div>
        <div class="inputBox">
            <label>
                <input type="submit" name="test_submit" value="Sign In">
            </label>
        </div>
    </div>
    <p class="forget">Forgot Password ? <a href="#">Click Here</a></p>
</div>
</form>
<div class="">
    {% if invalid_email %}
    <div>Invalid Email</div>
    {% elif invalid_password %}
    <div>Invalid Password</div>
{% endif %}
</div>
</body>
</html>