<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
 	<a href="/icons/icons8_dollar_bitcoin_exchange.ico"></a>
 	 
 	 	<img src="/icons/web_logo2.JPG" class="web_logo">
 	  	<div style="position: fixed;left: 700px;top: 25px;">
		 	<button class="menuoption">Buy Cripto</button>
		 	<button class="menuoption">live price</button>
		 	<button class="menuoption">tutorial</button>
		 	<button class="menuoption">Account</button>
        </div>
</head>
<body>
        <ul class="side_bar side_bar_option_flex">
        	<li class="side_bar_option" id="buy_coin" onclick="alert('hi')">
        		<img src="/icons/bitcoin_75px.png" class="icons">
        		<t id="side_bar_option_text">Buy coins</t>
        	</li>
        	<li class="side_bar_option" id="live_price">
        		<img src="/icons/candlestick_chart_75px.png" class="icons">
        	</li>
        	<li class="side_bar_option" id="tutorial">
        		<img src="/icons/training_75px.png" class="icons">
        	</li> 
        	<li class="side_bar_option" id="Account">
        		<img src="/icons/account_75px.png" class="icons">
            </li>
        </ul>
    <script type="text/javascript" src="/javascript/javascipt.js"></script>
</body>
</html>
