<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Bellota+Text&display=swap" rel="stylesheet">
    <div class="web_logo"></div>
     <div>
        <a href="sign_up2.html" target="_black" class="menuoption menuoption-signup">
            Sign up
        </a>
        <a href="login2.html" class="menuoption menuoption-login">
            Log in
        </a>
    </div>
</head>

<body>
    <ul class="side_bar side_bar_option_flex" id="side_bar">
        <a href="#">
            <li class="side_bar_option" id="buy_coin">
                <img src="/icons/bitcoin_75px.png" class="icons">
                <t class="side_bar_option_text" id="buy_coin_text_id"></t>
            </li>
        </a>
        <a href="#">
            <li class="side_bar_option" id="live_price">
                <img src="/icons/candlestick_chart_75px.png" class="icons">
                <t class="side_bar_option_text" id="live_price_text_id"></t>
            </li>
        </a>
        <a href="#">
            <li class="side_bar_option" id="tutorial">
                <img src="/icons/training_75px.png" class="icons">
                <t class="side_bar_option_text" id="tutorial_text_id"></t>
            </li>
        </a>
        <a href="Account.html">
            <li class="side_bar_option" id="Account">
                <img src="/icons/account_75px.png" class="icons">
                <t class="side_bar_option_text" id="Account_text_id"></t>
            </li>
        </a>
    </ul>
    <div id="chartContainer"></div>
    <div class="block">

    </div>
    <div id="news">
        <t style="font-family: 'Poppins', sans-serif;font-size:30px;">Recent Update</t>
        <div id="iner">

        </div>
    </div>
    <script type="text/javascript" src="/javascript/script.js">
    </script>

</body>

</html>