<html lang="en">
<head>
   <link rel="stylesheet" type="text/css" href="/css/signup_final.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Nanum+Gothic|Poppins&display=swap" rel="stylesheet">
    <img src="/icons/Asset 10.png" class="web_logo">
</head>
<body>
<form method="post">
    <div class="sign_box side_bar_option_flex_sign">
        <div><h2>Sign up</h2></div>
            <div style="margin: 10px;">
                <t style="position: relative;top:-20px;left:40px;">Name</t>
                <input type="text" name="fullname" class="input" style="position: relative;top: 10px;left: -35px;">
            </div>
            <div style="margin: 20px">
                <t style="position: relative;top:-10px;left:30px">Email</t>
                <input type="Email" name="email" class="input" style="position: relative;top: 20px;left:-35px;">
            </div>
            <div style="margin: 20px">
                <t style="position: relative;top: -10px;left:180px;height: 40px;width: 350px">Password</t>
                <input type="Password" name="Password" class="input" style="position: relative;top: 20px;left:-180px;">
            </div>
            <div style="margin: 30px">
                <t style="position: relative;top:-20px;left:-10px;">
                        Gender
                </t>
                <input type="radio" name="gender" class="input_gender" value="Male" style="position: relative;top:-10px;left:10px">
                <t style="position: relative;top:-20px;left: 15px">
                        Male
                </t>
                
                <input type="radio" name="gender" class="input_gender" value="Female" style="position: relative;top: -10px;left:20px">
                 <t style="position: relative;top:-20px;left: 25px">Female</t>
            </div>
            <div style="margin: 30px">
                <t style="position: relative;top: -60px;left: 20px;width: 30px;">Mobile_number</t>
                <input type="text" name="mobile" class="input" style="position: relative;top:-30px;left:-20px;">
            </div>
            <div>
                <button class="button">
                    <t style="position: relative;top:-2px;left:50px;font-size: 30px;color:#66ffcc">Sign up</t>
                </button>
            </div>
        </div>
</form>
<script type="text/javascript" src="/javascript/script.js">
    </script>
</body>
</html>